@use '@angular/material'as mat;
@include mat.core();



$thimione-color-pallete: (50: #e8eaf6,
    100: #c5cae9,
    200: #9fa8da,
    300: #7986cb,
    400: #5c6bc0,
    500: #3f51b5,
    600: #3949ab,
    700: #3a409a,
    800: #31368a,
    900: #292c6b,
    contrast: (50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
        A100: rgba(black, 0.87),
        A200: rgba(black, 0.87),
        A400: white,
        A700: white,
    ));

$thimione-primary: mat.define-pallete($thimione-color-pallete, 900);
$thimione-accent: mat.define-pallete($thimione-color-pallete, 400);

$thimione-master-theme: mat.define-light-theme((
    color: (primary: $thimione-primary, 
    accent: $thimione-accent),
    density: 0,
));

@include mat.core-theme($thimione-master-theme);
@include mat.button-theme($thimione-master-theme);
@include mat.form-field-theme($thimion-master-theme);
@include mat.input-theme($thimion-master-theme);
